*{
	font-family: Montserrat;
}

footer{
	text-align: center;
	background-color: black;
	color: white;
	padding: 10px;
}

li{
	margin:10px;
	color: maroon;
	font-family: Calibri Bold;
	font-style: bold;
	font-size: 18px;
}

h3{
	background-color: black;
	text-align: center;
	color: white;
	padding: 1px;
}

a{
	font-family: Roboto;
	font-style: bold 700;
	font-size: 18px;
	margin-left: 245px;
	color: purple;
	padding: 2px;
}